body {
  background-image: url('../image/images.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  display: flex;
  width: 100%;
  gap: 15px;
}

h1 {
  font-size: 40px;
  color: antiquewhite;
  padding: 5px 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title {
  font-size: 30px;
  color: wheat;
  padding: 2px 20px;
}

.leader {
  flex: 1;
}

.leaders-container {
  border: 30px solid white;
  border-image: url('../image/border.png') stretch 20;
  background-color: antiquewhite;
}

.leader-item {
  display: flex;
  border: 5px solid rgb(186, 196, 186);
}

p {
  margin-left: 10px;
}

.refresh {
  width: 75px;
  height: 30px;
  border-radius: 30%;
  box-shadow: 5px 5px black;
}

.add {
  flex: 1;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-btn {
  width: 75px;
  height: 30px;
  margin-left: auto;
}

.gray {
  background-color: rgb(187, 187, 187);
}


